@font-face{
    font-family: 'Roboto', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap);
}
/*links */
a:link{
    text-decoration:none;
    color: grey;
}
a:visited{
    color: rgb(121, 121, 121);
}
.link:hover {
    text-decoration: underline;
  }

/* Top Nav Bar*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#top-left-nav li {
    list-style-type: none;
    margin: 8px;
    padding: 0px;
    position: relative;
    top: 16px;
    left: 18px;
    float: left;
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: red;
}
#top-right-nav li{
    list-style-type: none;
    position: relative;
    top: 16px;
    right: 150px;
    margin: 8px;
    padding: 0px;
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    display: inline;
}

.app-icon{
opacity: 55%;
position: absolute;
top: 20px;
right: 118px;
width: 24px;
height: 24px;
}
.app-icon:hover{
    opacity: 85%;
}
/* Sign In Button */
.sign-in{
    position: absolute;
    top: 17px;
    right: 30px;
    background-color: rgb(66, 133, 244);
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: white;
    padding: 7px 13px;
    border: none;
    border-radius: 2px;
    size: 25px 213px;
    outline: none;
}
/* Search Bar */
input[type=text] {
    position: absolute;
    top: 33%;
    left: 35%;
    background-color: white;
    background-image: url(https://img.icons8.com/all/500/search--v1.png), url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/1200px-Google_mic.svg.png);
    background-position: 15px 15px, 533px 12px;
    background-size: 15px 15px, 14px;
    background-repeat: no-repeat;
    width: 575px;
    padding: 15px 40px;
    box-sizing: border-box;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 50px;
}
input[type=text]:hover {
    border-radius: 50px;
    box-shadow: 1px 1px 9px -5px, -1px -1px 3px -5px;
}
input[type=text]:focus {
    border: 1px solid rgb(209, 209, 209);
    outline:none;
    border-radius: 50px;
    box-shadow: 1px 1px 9px -5px, -1px -1px 3px -5px;
}
/*Google Image */

#logo {
    position: absolute;
top: 21%;
left: 43%;
}
/*Google Search Button*/
.google-search{
    position: absolute;
    top: 41%;
    left: 42.5%;
    padding: 11px 16px;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgb(129, 129, 129);
}
.google-search:hover{
    border: 1px solid rgb(179, 179, 179);
    color: rgb(51, 51, 51)
}

/*I'm Feeling Lucky Button*/
.lucky{
    position: absolute;
    top: 41%;
    left: 49.7%;
    padding: 11px 17px;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: rgb(129, 129, 129);
}
.lucky:hover{
    border: 1px solid rgb(179, 179, 179);
    color: rgb(51, 51, 51)
}


/* Bottom Nav Bar */

#bot-left-nav li {
    list-style-type: none;
    margin: 8px;
    padding: 08px;
    float: left;
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
#bot-right-nav li {
    list-style-type: none;
    margin: 0px;
    padding: 07px;
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

#bot-nav-bar ul{
    overflow: auto;
    display: block;
    background-color: rgb(245, 245, 245);
    border-top: 1px solid rgb(230, 230, 230);
    position: fixed;
    bottom: 0;
    width: 100%;
}